@import url(https://fonts.googleapis.com/css?family=Slabo+27px|Roboto);

body {
	font-family: 'Roboto', sans-serif;
	
	background-attachment: fixed;
	background-size: cover;
	background-color: #D9DBD5;
    padding-top: 70px;
}
}

.head {
    background-color: white;
    margin: 0;
    padding: 1%;
    text-align: center;
}


.fork-github {
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1200;
	width: 180px;
}

